/* * {
    box-sizing: border-box;
} */

html,
body {
    /* width: "100%"; */
    height: "100%";
    background-color: #e9e7e7;
    font-family: sans-serif;
    /* font-size: 100%; */
    color: #333;
}

/* In all the div whose class starts with "col"  and that are children of a div whose id begins with "country-stats" and whose class starts with "row" */
div[id^="country-stats"] div[class^="col"] {
    align-self: center;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}


#home .counter {
    font-size: 100px;
}

#home .counter_desc {
    font-size: 40px;
}


.transitionTitle {
    font-size: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.transitionP1 {
    font-size: 32px;
    margin-left: 50px;
    margin-right: 50px;
}

.transitionP2 {
    font-size: 32px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.float-child {
    /*width: 50%;*/
    float: left;
    /*padding: 10px;*/
    margin: 10px;
    /*border: 2px solid red;*/
}


/* ======================================== GRAPH 3 ======================================== */
#graph3 {
    padding: 10px;
}

.info-pane {
    background-color: #efefef;
}

.country {
    stroke: black;
    /* country border color */
    stroke-width: 0.05px;
    /* country border width */
}

.country-on {
    fill: #2c7bb6;
    /* highlight colour for selected country */
}

#country-info {
    height: 110px;
    margin-top: 2%;
}

/* #country-flag {
    align-content: right;
} */

#country-flag img {
    height: 90px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

#studio-logo img {
    max-height: 200px;
    width: auto
}

/* ======================================== fullPage.js ======================================== */
.fp-tooltip {
    color: black !important;
    font-weight: bold;
}