/* .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: top;
    overflow: hidden;
} */

#mapContainer {
    border: 2px solid black;
}

/* .svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
} */

/* .infoPane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
} */

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f1f1f1;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:first-child {
    background-color: gold;
}

tr:nth-child(2) {
    background-color: silver;
}

tr:nth-child(3) {
    background-color: #cd7f32;
}

caption {
    padding: 10px;
}

.label,
.node--root{
  pointer-events: none;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  font-size: 20px;
  fill: white;
  display: block;
}

circle {
  opacity: 60%;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #71797E;
  stroke-width: 1.5px;
}
.node--leaf:hover {
    stroke: black;
    stroke-width: 1.5px;
  }

.leftside, .rightside{
    width: 100%;
    height: 100vh;
}

.leftside {
    display: flex;
    align-items: center;
    height: 100%;
    background: #202020;
}

.rightside{
    background: black;
    opacity: 90%;
    height: 100%;
}
#plot{
    display: block;
    margin: auto;
}

#year {
    text-align: center;
    font-size: 50px;
    color: white;
    opacity: 90%;
    font-family : "Roboto";
    text-decoration: underline;
}
#nb_ratings {
    text-align: center;
    font-size: 30px;
    color: white;
    opacity: 90%;
    font-family : "Roboto";
    margin-top: 50px;
}
