* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 10px;
    height: 100%;
    font-family: sans-serif;
    color: #333;
    display: block;
    align-items: center;
    justify-content: center;
}

.info-pane {
    background-color: #efefef;
}

/* ======================================== GRAPH 1 ======================================== */
#graph1 caption {
    padding: 10px;
}

#graph1 .label,
node--root {
    pointer-events: none;
}

#graph1 .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    font-size: 20px;
    fill: white;
    display: block;
}

#graph1 circle {
    opacity: 60%;
}

#graph1 .node {
    cursor: pointer;
}

#graph1 .node:hover {
    stroke: #71797E;
    stroke-width: 1.5px;
}

#graph1 .node--leaf:hover {
    stroke: black;
    stroke-width: 1.5px;
}

#graph1 .leftside {
    display: flex;
    align-items: center;
    height: 100%;
    background: #202020;
}

#graph1 .rightside {
    background: black;
    opacity: 90%;
    height: 100%;
}

#graph1 #plot {
    display: block;
    margin: auto;
}

#graph1 #year {
    text-align: center;
    font-size: 50px;
    color: white;
    opacity: 90%;
    font-family: "Roboto";
    text-decoration: underline;
}

#graph1 #nb_ratings {
    text-align: center;
    font-size: 30px;
    color: white;
    opacity: 90%;
    font-family: "Roboto";
    margin-top: 50px;
}

/* ======================================== GRAPH 3 ======================================== */
.country {
    stroke: black;
    /* country border color */
    stroke-width: 0.05px;
    /* country border width */
}

.country-on {
    fill: #2c7bb6;
    /* highlight colour for selected country */
}

#country-info {
    height: 125px;
    margin-top: 2%;
}

#country-flag {
    align-self: center;
}

#country-flag img {
    height: 100px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

#studio-logo img {
    max-height: 200px;
    width: auto
}

/* ======================================== GRAPH 4 ======================================== */

#graph4 {
    font-family: sans-serif;
    background-color: black;
}