* {
    transition: all 0.3s ease-out;
}

/* ===========================
    Podium
    =========================== */
.podium {
    width: 100%;
    display: flex;
    align-items: flex-end;
    
}

/* ===========================
    Podium Element
    =========================== */
.podium-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    width: 25%;
    border-radius: 5px;
}

.podium-element .title {
    margin-bottom: 5px;
}

.podium-element .num_ratings {
    font-size: 15px;
    margin-top: 10px;
}

/* ===========================
    Poster
    =========================== */
.poster {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    /* top: 0px; */
    position: relative;
    /* max-width: 262px; */
    /* background-color: #ffffff; */
    border-radius: 4px;
    /* padding: 32px 24px; */
    /* margin: 12px; */
    /* text-decoration: none; */
    overflow: hidden;
    border: 1px solid #cccccc;
}

.poster img {
    width: 100%;
}

.poster .go-corner {
    background-color: #00838d;
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -45px;
    align-items: start;
    background-image: linear-gradient(-45deg, #2e51a2 1%, #2e51a2 100%);
}

.poster .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
}

.poster:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.poster:hover .go-corner {
    margin-right: -12px;
}

.poster:hover .go-arrow {
    opacity: 1;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

/* ===========================
    Podium Step
    =========================== */
.podium-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.podium-step.gold {
    background-color: #FFCE44;
}

.podium-step.silver {
    background-color: #D8DBDE;
}

.podium-step.bronze {
    background-color: #CD7F32;
}

.podium-step .ranking {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}